.book-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.book-grid .book-card {
  display: flex;
  width: 100%;
}

.recommendations {
  padding: 20px;
}

.recommendations-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.recommendations-header h2 {
  color: #333;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 43px;
  margin: 0 0 12px 0;
  font-family: Barlow, Helvetica, Arial, sans-serif;
  text-align: center;
}

.recommendations-header p {
  color: #4e4e4e;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0 0 24px 0;
  font-family: Barlow, Helvetica, Arial, sans-serif;
  text-align: center;
}
