.book-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff9000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #f57f17;
}

.pagination span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.search-page-bar-large {
  display: flex;
  width: 90%;
  max-width: 800px;
  border: #000000;
  border-radius: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.search-page-type-dropdown {
  background-color: #f3f2f2;
  border-width: 1px;
  border-color: black;
  border-right: none;
  border-radius: 30px 0 0 30px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 15px;
}

.search-page-bar-large input {
  flex: 1;
  padding: 18px;
  outline: none;
  font-size: 1rem;
  background: #f7f7f7;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: black;
  width: inherit;
}

.search-page-bar-large button {
  background-color: #ff9000; /* Orange */
  color: black;
  font-weight: 600;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-width: 1px;
  border-left: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 17px;
}

.search-page-bar-large button:hover {
  background-color: #f57f17; /* Darker orange */
}
