.popular-book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.popular-book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.thumbnail-img {
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f3f2f2;
  min-width: 100px;
}

.no-thumbnail {
  height: 150px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.popular-book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.popular-book-info h3 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0;
  text-align: center;
}

.popular-book-info p {
  font-size: 0.9rem;
  color: #777;
  text-align: center;
}

.delete-btn {
  border-color: #ff4d4d !important;
  margin-top: auto;
}

.delete-btn:hover {
  background-color: #ffe1e1 !important;
}
